*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html,body{
  height: 100vh;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.App{
  display: flex;
  height: 100vh;
}

.sidebar{
  width: 280px;
  flex-shrink: 0;
  background-color: #e3eaed;
  height: 100%;
  overflow: auto;
  box-shadow: 5px 0 15px -4px rgba(2, 3, 5, 0.8);
  position: relative;
}

.sidebar-item{
  padding: .75em 1em;
  font-size: 1.2em;
  display: block;
}

.sidebar-item:hover{
  cursor: pointer;
}

.sidebar-title{
  display: flex;
  text-align: center;
}

.icon{
  padding-right: 8px;
  color: #7c959d;
}

.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
  font-size: 0.8em;
}
.sidebar-content a{
  text-decoration: none;
  color: black;
}

.sidebar-item.open .sidebar-content{
  height: auto;
}

.sidebar-item.open .sidebar-title{
  color: #e6a057 !important;
}
.sidebar-item.open .icon{
  color: #e6a057 !important;
}

.weighing-button{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10px;
}

.weighing-button span{
  margin-left: 3px;
}

.weighing-button button:hover{
  cursor: pointer;
}
.weighing-button button{
    border-radius: 30px;
    border: 1px solid #3a7a90;
    padding: 10px 20px;
    background: #3a7a90;
    font-size: 1.1em;
    color:#e3eaed;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 30px;
}

.img-div:hover{
  cursor: pointer;
}

.img-div img {
  min-width: 100%;
  min-height: 100%
}

.WeighItem{
  padding: .75em 2em;
}
.WeighItem p{
  margin-left: 6px;
  margin-bottom: 4px;
}

.WeighItemData{
  background-color: #ffffff;
  border-radius: 40px;
  font-size: 20px;
  padding: 5px;
}

.WeighDot{
  color: rgb(0, 233, 0)
}
.WeighDotRed{
  color: rgb(233, 0, 0)
}
.two-icons{
  color: #7c959d;
  padding: 0.75em 1em;
}
.two-icons span{
  margin: 3px;
}
.spaces{
  height: 200px;
}
/* .WeighList{
  position: absolute;
  bottom: 0px;
} */