*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  height: 100vh;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.App{
  display: flex;
  height: 100vh;
}

.sidebar{
  width: 260px;
  flex-shrink: 0;
  background-color: #e3eaed;
  height: 100%;
  overflow: auto;
}

.sidebar-item{
  padding: .75em 1em;
  font-size: 1.2em;
  display: block;
}

.sidebar-item:hover{
  cursor: pointer;
}

.sidebar-title{
  display: flex;
}

.icon{
  padding-right: 8px;
  color: #7c959d;
}

.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
  font-size: 0.8em;
}
.sidebar-content a{
  text-decoration: none;
  color: black;
}

.sidebar-item.open .sidebar-content{
  height: auto;
}

.sidebar-item.open .sidebar-title{
  color: #e6a057 !important;
}
.sidebar-item.open .icon{
  color: #e6a057 !important;
}

.weighing-button{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10px;
}
.weighing-button button:hover{
  cursor: pointer;
}
.weighing-button button{
    border-radius: 30px;
    border: 1px solid #3a7a90;
    padding: 10px 20px;
    background: #3a7a90;
    font-size: 1.1em;
    color:#e3eaed;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 30px;
}

.img-div:hover{
  cursor: pointer;
}

.img-div img {
  min-width: 100%;
  min-height: 100%
}

